<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] - %m (%C.java:%L)%n"/>
        </Console>
    </appenders>

    <loggers>
        <Logger name="jp.catalyna.controller" level="debug" includeLocation="true">
            <appender-ref ref="console"/>
        </Logger>
        <root name="Root" level="trace" includeLocation="true">
            <appender-ref ref="console"/>
        </root>
    </loggers>
</configuration>